* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* vairible */
.bgcolor-cyan-header {
  background-color: #3598b6;
  border-radius: 10px;
  height: 40px;
  margin-top: 5px;
  /*  */
}
.bgcolor-cyan-header a {
  color: #fff !important;
}
.color-black {
  color: #000000;
}
.text-center {
  text-align: center;
}
.color-00A2FD {
  color: #00a2fd;
}
.font-bold {
  font-weight: bold;
}
/* end Vai */

.main {
  background: #fff;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
}
.header {
  height: 65px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
}
.header__nav-top {
  height: 50px;
  width: 100%;
  background-color: #3598b6;
  /* margin-left: 90px; */
}
.header__nav-top-logo {
  margin-left: 90px;
  display: inline-block;
}
.header__nav-top-login {
  top: 0;
  height: 50px;
  display: flex;
  position: absolute;
  right: 0;
  justify-content: space-around;
  align-items: center;
  margin-right: 90px;
}
.login-button {
  height: 36px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px #fff solid;
  width: 110px;
  margin-right: 16px;
  cursor: pointer;
}
.login-button a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 200%;
  display: block;
}
.res-button a {
  text-decoration: none;
  color: #3598b6 !important;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 236%;
  display: block;
}
.res-button {
  background-color: #fff;
  height: 36px;
  border-radius: 10px;
  width: 110px;
  cursor: pointer;
}
.header__nav-top-logo img {
  width: 47px;
  border-radius: 50%;
  display: inline-block;
}
.header__nav-top-logo h1 {
  margin-left: 6px;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 5px;
}
.header__nav-down {
  height: 50px;
  width: 100%;
  background-color: #fff;
  position: relative;
  /* display: inline-block; */
}
.header__nav--item {
  margin-left: 90px;
  display: inline-block;
  position: absolute;
  left: 0;
  font-size: 0;
}
.header__nav--item li {
  display: inline-block;
  height: 40px;
}
.header__nav--item li:hover {
  /* border-bottom: 0.5px solid #000000; */
}
.header__nav--item li a {
  /* border-radius: 10px; */
  line-height: 40px;
  padding: 0 22px;
  text-decoration: none;
  font-weight: 700;
  color: #687176;
  font-size: 16px;
}

.slider {
  width: 100%;
  /* margin-top: 100px; */
  /* background-image: url(../assets/img/Slider\ img/); */
  height: 38vw;
  /* overflow: none; */
  margin-bottom: 84px;
  margin-top: 90px;
  background-image: url(./img/Slider-img/image\ 45.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* .slider__arrow--left {
    margin-left: 25px;
}
.slider__arrow--right {
    margin-right: 25px;
} */
.slider__arrow--right,
.slider__arrow--left {
  font-size: 36px;
  cursor: pointer;
}
.search-bar {
  width: 975px;
  margin-left: auto;
  margin-right: auto;
  height: 88px;
  border-radius: 45px;
  background-color: #e4e4e4;
  position: absolute;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  transition-property: box-shadow;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
.search-bar:hover {
  box-shadow: 0 0 30px #000;
}
.right-search-bar {
  color: #000;
  font-size: 22px;
  text-decoration: none;
  padding: 10px 58px;
  border-radius: 22px;
  background-color: #3598b6;
  transition-property: background-color, color;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
.item-left-bar p,
.item-left-bar input {
  margin: 0px 12px;
}
.item-left-bar {
  height: 95%;
}
.left-search-bar {
  display: flex;
  align-items: center;
}
.item-left-bar-boder {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.right-search-bar:hover {
  background-color: #fff;
  color: #3598b6;
}
.img__slider {
  height: 100%;
  width: 100%;
}
.img__slider_1 {
  /* display: block; */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./img/Slider-img/image\ 26.png);
}
.img__slider_2 {
  background-image: url(./img/Slider-img/image\ 27.png);
  /* display: none; */
  background-repeat: no-repeat;
  background-size: cover;
}
.img__slider_3 {
  background-image: url(./img/Slider-img/image\ 28.png);
  /* display: none; */
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__sli2--animation {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(240, 217, 155); */
}
.item__sli2 {
  width: 1224px;
  height: 590px;
  border-radius: 15px;
  background: #f1f1f1;
  box-shadow: 0px 8px 40.4px -5px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__sli2::before {
  height: 590px;
  width: 83%;
  position: relative;
  background-color: transparent;
}
.item__bg--flex {
  width: 1124px;
  height: 690px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  gap: 25px;
}
.item__sli2--animation {
  width: 124px;
  height: 180px;
  border-radius: 10px;
  /* background: #808080; */
  box-shadow: -13px 21px 30px -14px rgba(0, 0, 0, 0.25);
  /* margin: 0px 25px; */
  transition-property: height, filter;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  /* transition-delay: 0.1s; */
  padding-bottom: 10px;
  z-index: 1;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
}
.item__sli2--animation:hover {
  filter: none !important;
}
.item__sli2--animation_1 {
  background-image: url(./img/Sli-2-img/Bien.png);
}
.item__sli2--animation_2 {
  background-image: url(./img/Sli-2-img/Nui.png);
}
.item__sli2--animation_3 {
  background-image: url(./img/Sli-2-img/Tour.png);
}
.item__sli2--animation:hover {
  height: 207px;
  cursor: pointer;
}
.bg__itemtheme {
  width: 100%;
  height: 100%;
  /* background: rgba(255, 0, 0, 0.20); */
  /* filter: blur(4.550000190734863px); */
  position: relative;
  border-radius: 10px;
  /* box-shadow: 0 0 20px rgba(255, 0, 0, 0.20); */
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.bg__item--theme_1 {
  display: block;
  background-image: url(./img/Sli-2-img/Bien.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg__item--theme_2 {
  display: none;
  background-image: url(./img/Sli-2-img/Nui.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg__item--theme_3 {
  background-image: url(./img/Sli-2-img/Tour.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
.button__sli2--black {
  position: absolute;
  fill: none;
  width: 180px;
  height: 49px;
  background-color: #120d0d;
  border-radius: 15px;
  bottom: 0;
  right: 0;
  margin-bottom: 125px;
  margin-right: 250px;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  z-index: 1;
}
.button__sli2--black:hover {
  cursor: pointer;
  box-shadow: 0 0 30px #fff;
}
.bg__itemtheme__blur {
  z-index: 0;
  margin: auto;
  margin-top: 45px;
  width: 80%;
  height: 80%;
  border-radius: 26px;
  background: rgba(0, 88, 192, 0.2);
  backdrop-filter: blur(10px);
  position: relative;
}
.bg__itemtheme__blur h1 {
  font-size: 40px;
  width: 432px;
  position: absolute;
  right: 0;
  font-weight: bold;
  margin-top: 125px;
  z-index: 1;
  color: #000000;
}
.bg__itemtheme__blur p {
  font-size: 24px;
  width: 432px;
  position: absolute;
  right: 0;
  margin-top: 170px;
  z-index: 1;
  color: #000000;
}
.review-box {
  display: none !important;
  height: 550px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.review-box > .bg__review-box {
  background: #d9d9d960;
}
.bg__review-box {
  width: 1224px;
  position: absolute;
  height: 100%;
  /* margin-top: 15px; */
}
.title__review-box {
  font-size: 32px;
  font-weight: bold;
  margin-top: 64px;
}
.dis__review-box {
  margin-top: 16px;
}
.title__review-box,
.dis__review-box {
  margin-left: 27px;
}
.review-item--flex {
  width: 100%;
  height: 304px;
  display: flex;
  justify-content: space-around;
  /* gap : 68px ; */
  padding-bottom: 100px;
  /* margin: 0px 15px; */
}
.review-item {
  background: #f1f1f1;
  height: 275px;
  width: 331px;
  box-shadow: -9px 4px 35.3px -4px rgba(0, 0, 0, 0.15);
  position: relative;
}
.star__content__review-item {
  position: absolute;
  bottom: 0;
}
.content__review-item {
  padding: 21px 18px;
}
.bg__review-img {
  background: #757575;
  width: 100%;
  height: 89px;
}
.dis__review-item {
  margin-top: 16px;
  margin-bottom: 6px;
}
/* ko can thiet */
.margin__review-item-content {
  margin: 18px 0;
}
/* end */
.star__content__review-item > i {
  margin: 0px 2px;
  color: #ffe500;
}
.tour-rcm {
  margin-top: 25px;
  width: 100%;
  height: 694px;
}
.content-box__tour-rcm {
  margin-right: auto;
  margin-left: auto;
  width: 1224px;
  margin-top: 32px;
  height: 450px;
  display: flex;
  justify-content: space-between;
}
.tour-rcm__dis {
  font-weight: 200;
}
.item__content-box__tour-rcm {
  height: 450px;
  box-shadow: 0 0 15px #0000003a;
  width: 289px;
  border-radius: 10px;
  position: relative;
  transition-duration: 1s;
  transition-property: box-shadow;
  transition-timing-function: ease-out;
}
.item__content-box__tour-rcm:hover {
  box-shadow: 0 0 15px #000000;
  cursor: pointer;
}
.item__content-box__tour-rcm-tour {
  background-image: url(./img/Tour-rcm-img/tour-tour-rcm.png);
}
.item__content-box__tour-rcm-mountain {
  background-image: url(./img/Tour-rcm-img/mountain-tour-rcm.png);
}
.item__content-box__tour-rcm-beach {
  background-image: url(./img/Tour-rcm-img/beach-tour-rcm.png);
}
.item__content-box__tour-rcm p {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  bottom: 0;
  position: absolute;
  margin-left: 16px;
}
/* news */
.news {
  width: 1224px;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 64px; */
}
.news__header {
  width: 100%;
  height: 258px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.title__news__header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 64px;
  font-weight: 900;
  color: #00a2fd;
  margin-left: 26px;
}
.dis__news__header {
  line-height: 19.36px;
  margin-left: 26px;
}
.box__news__header {
  height: 258px;
  /* background-color:#F1F1F1; */
  background-image: url(./img/News-img/ca-chua.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  transition-property: box-shadow;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.news__content {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* gap: 65px; */
}
.box__news__content {
  width: 346px;
  /* background-color:#F1F1F1; */
  height: 324px;
  border-radius: 20px;
  transition-property: box-shadow;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.box__news__header:hover,
.box__news__content:hover {
  box-shadow: 0 0 10px #000;
}
.box__news__content_1 {
  background-image: url(./img/News-img/pic-under-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.box__news__content_2 {
  background-image: url(./img/News-img/pic-under-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.box__news__content_3 {
  background-image: url(./img/News-img/pic-under-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.above-footer {
  margin-top: 128px;
  height: 355px;
  filter: blur(lightgray 50%);
  background-image: url(./img/Footer-img/image\ 7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}
.blur__above-footer {
  position: absolute;
  width: 100%;
  /* margin-bottom: 4%; */
  height: 70%;
  /* bottom: 0; */
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(55px);
  /* flex-shrink: 0;  */
}
.icon__above-footer {
  display: flex;
  justify-content: space-around;
  z-index: 2;
  height: 100%;
  width: 100%;
  align-items: center;
}
.item__icon__above-footer {
  background-color: #ffb82f;
  width: 110px;
  height: 110px;
  border-radius: 20px;
  z-index: 2;
  transform: rotate(76deg);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: box-shadow;
  transition-timing-function: ease;
  transition-duration: 0.6s;
}
.item__icon__above-footer i {
  font-size: 45px;
  transform: rotate(270deg);
}
.item__icon__above-footer:hover {
  box-shadow: 0 0 10px #000;
}
.footer {
  width: 100%;
  height: 350px;
  background-color: #24575b;
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
.footer-item {
  position: absolute;
  height: 300px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  bottom: 0;
}
.logo__footer {
  border-radius: 50%;
}
.p__contact__footer {
  display: inline-block;
}
.icon-p__contact__footer i {
  margin-left: 6px;
  line-height: 30px;
}
.margin__footer__icon__location {
  margin-left: 8px;
}
.icon-p__contact__footer {
  display: inline-block;
  /* align-items: center;
    justify-content: center; */
  background-color: #ff7455;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px #fff solid;
}
.contact__footer {
  display: inline-block;
  color: #000;
}
.more___footer,
.mem__footer {
  font-weight: bolder;
  font-size: 22px;
  color: #000;
}
.more___footer li,
.mem__footer li {
  margin-left: 26px;
  list-style-type: disc;
  font-size: 20px;
  font-weight: 400;
}
.copy-right__footer {
  border-top: #000 solid 1px;
  width: 100%;
  height: 32px;
}
.copy-right__footer__p {
  color: #000;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
}
/* animation */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
